.Foto {
    height: 2250px;
    width: 4000px;
    /*background-image: url("https://raw.githubusercontent.com/JuanIgnacioSantoro/LogoHistoriasDeVidaConectadas/refs/heads/main/Foto%20para%20portada%20-%20Ejemplo%2016-9.jpg");*/
    background-image: url("./Foto%20para%20portada%20-%20Ejemplo%2016-9.jpg");
    background-size: cover;
}

.Gradiente {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%);
    height: 2250px;
    width: 4000px;
}

.Texto {
    height: 900px;
    width: 3000px;
    display: flex;
    flex-direction: column;
    margin-left: 900px;;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150pt;
    color: white;
    text-align: center;
    padding-left: 1000px;
}

span {
    color: rgb(255, 200, 0);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150pt;
    color: white;
    text-align: center;
    padding-left: 1000px;
    margin-top: -20px;
}

img {
    height: 250px;
    padding-left: 3750px;
    margin-top: 1100px;
    display: none;
}